.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #D4D4D4;
}

.title{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 48px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: auto;
    margin-bottom: 50px;
}

.column{
    
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.contact img{
    margin-right: 15px;
}

.contact p{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 24px;
    color: #000000;
}

@media (max-width: 1280px) {
    .title{
        font-size: 30px;
        margin: 20px;
    }
    .contact{
        margin-bottom: 25px;
    }
    .contact img{
        width: 40px;
        height: auto;
    }
    .contact p{
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .title{
        font-size: 20px;
        margin: 20px;
    }
    .contacts{
        margin-bottom: 20px;
    }
    .contact{
        margin-bottom: 20px;
    }
    .contact img{
        width: 25px;
        height: auto;
    }
    .contact p{
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .title{
        font-size: 20px;
        margin: 20px;
    }
    .column{
        gap: 15px;
    }
    .contacts{
        width: 70%;
    }
    .contact{
        margin-bottom: 20px;
    }
    .contact img{
        width: 25px;
        height: auto;
    }
    .contact p{
        font-size: 13px;
    }
}

@media (max-width: 500px) {
}
